<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1 class="text-muted">TensorFlow User Group - Azerbaijan : Capstone Project</h1>
        <h3 class="text_t"> Imagine that you are a Data Scientist in a company. A company's HR department wants to predict whether some customers would leave the company in next 2 years.
As a Data Scientist your job is to build a predictive model that predicts the prospects of future and present customers.
They will offer specific packages to customers who are willing to leave company according to your model. </h3>


<h3 class="text_tw">HR says that we want to loose less customer as possible. Although, it is money consuming but it is not problem to offer packages to customers who will not leave company.
You need to consider it while you are dealing with FalsePositive and FalseNegative errors. </h3>

        <h4 class="text_tw">Please, predict out-of-bag data and upload y_pred values only. System automatically will provide you with accuracy. </h4>
      </div>
      <hr/>
      <div>
      
      <form action="upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file"><br /><br />
        <input type="submit" value="Upload">
      </form>
      </div>
    </div>
  </body>
</html>
 
