<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1 class="text-muted">TFUG AZERBAIJAN : Fake Job Description Prediction project</h1>
        <h4 class="text_t"> PROBLEM DEFINITION: Employment scams are on the rise. According to CNBC, the number of employment scams doubled in 2018 as compared to 2017. Most scammers do this to get personal information from the person they are scamming. Personal information can contain addresses, bank account details, social security numbers, etc. The scammers provide users with a very lucrative job opportunity and later ask for money in return. Or they require investment from the job seeker with the promise of a job. This is a dangerous problem that can be addressed through Machine Learning techniques and Natural Language Processing. </h4>
<h4 class="text_tw">This project aims to create a classifier that will have the capability to identify fake and real jobs.</h4>

        <h4 class="text_tw">Since our classes are highly unbalanced, a high accuracy would represent how well our model categorizes the negative category. For this reason, we will evaluate your model based on balanced_accuracy metric. You can use reference notebook where pre-written code has been provided. </h4>
          <h4 class="text_tw"> Please, submit only .h5 files. System will automatically evaluate your model in out-of-bag dataset, and send you corresponding message. </h4>

      </div>
      <hr/>
      <div>

          <form method="post">
    Project file path: <input type="text" name="projectFilePath"><br>
    </form>

      <form action="upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file"><br /><br />
        <input type="submit" value="Upload">
      </form>
      </div>
    </div>
  </body>
</html>
 
